
// display view
.upcoming-events {
  display: flex;
  justify-content: center
}

  .content {

    font-family: 'Merriweather Sans', sans-serif;
  }

  .date-bar {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: black;
    color: var(--theme-color);
    display: flex;
  }

  .date-bar p {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 1px;
    font-family: 'Oswald', sans-serif;

  }

  .day-bar-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -35px;
  }

  .day-bar {
    background-color: var(--theme-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    height: 20%;
    margin-top: -40px;
    margin-bottom: 20px;
    width: 40%;
    border-radius: 20px 0px 0px 70px;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
  }


    .date-bar {
      height: auto;
      margin-top: -5px;
      margin-bottom: 10px;
    }

    .date-bar p {
      margin-left: 5px;
      margin-top: 5px;
    }

    .day-bar-container {
      margin-bottom: -25px;
    }

    .day-bar {
      height: 15%;
      margin-top: -30px;
      margin-bottom: 10px;
    }

    .cards-container {
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      grid-template-rows: repeat(2, 2fr);
      grid-gap: 3px;
      padding: 0px 0px 30px 30px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 100%;
    }

    .card {
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #f2f2f2;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      height: 90%;
      width: 90%;
    }

    .card-image {
      width: 100%;
      height: 70%;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .card-text {
      margin-bottom: 10px;
    }


    @media screen and (max-width: 767px) {
      .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-gap: 10px;
        padding: 20px;
      }
    }
    @media (max-width: 768px) {
      .display-views {
        display: none;
      }
    }

// social media cards

.socials-main-handle {
  font-size: 20px;
  margin-top: 20px;
  white-space: normal;
}
.card-heading {
  margin-bottom: .5rem;
}
.card-body {
  width: 100%;
  white-space: normal;
  font-size: 14px;
  line-height: 1.5;

}
.card-footer {
  margin-top: auto;
  background-color: black;
  color: white;
}

.socials-main-handle {
  font-size: 20px;
  margin-top: 20px;
  background-color: white;
  color: black;
}

#home {
  background-color: white;
}

.carousel-inner {
  overflow-x: auto;
  display: flex;
  max-width: 700px;
  max-height: 700px;
  -webkit-overflow-scrolling: touch;
}

.socials-card {
  margin: 10px;
  background-color: rgb(194, 194, 194);
  border-radius: 5px;
  padding: 4px;
  box-shadow: 0 0 .4rem black;
  object-fit: fill;
  width: 100%;
  color: black;
  height: 250px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  text-align: left;
}


.active .nav .nav-tabs {
width: 100%;
color: black;
object-fit: fill;
}

.nav.nav-tabs li:not(.active) a {
  color: black;
  background-color: var(--theme-color);
}

.nav.nav-tabs li:not(.active) a:hover {
  color: #000000;
  background-color: #eee;
}

.nav.nav-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  object-fit: fill;
}

.nav.nav-tabs li {
  flex: 1;
  background-color: white;
  font-family: 'Oswald', sans-serif;
}

.nav.nav-tabs li a {
  display: block;
  text-align: center;
}

.socials-card-container {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin: auto;
  background: rgb(255, 255, 255);
  overflow-x: auto;
  display: flex;
  gap: 5px;
  padding: 0;
}

.handle {
  color: var(--theme-color);
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.socials-header {
  display: flex;
  font-size: 20px;
  gap: 5px;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
}

.carousel-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: -10px;
  border-radius: 5px;
  max-width: 600px;
}

/* Previous CSS rules */

@media screen and (max-width: 768px) {
  .carousel-inner {
    max-width: 100%;
    max-height: unset;
    overflow-y: scroll;
  }

  .socials-card {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .socials-card-container {
    flex-wrap: nowrap;
  }

  .carousel-box {
    width: 100%;
  }

  .card-footer {
    margin-top: auto;
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 6px;
  }
}
