.map-container {
  position: relative;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 370px;
  max-width: 750px;
}

.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.map-overlay-text {
  font-size: 18px;
  color: #333;
  font-family: 'Oswald', sans-serif;
}

#map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  z-index: 0;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .map-container {
    height: auto;
    padding: 10px;
    max-width: 100%;
  }

  #map {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    height: 300px;
    margin-top: 10px;
  }
}
