.newsletter-bg {
    background-image: url("assets/img/handsup.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 50px;
  }

  .newsletter-bg div {
    text-align: center;
    padding:10px;
    padding: 9px 35px 15px 35px;
  }

  .newsletter-bg p {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

.newsletter-container {
    height: 50%;
    width: 35%;
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newsletter-content h1{
    text-shadow: rgba(0, 0, 0, 0.5);
    color: white;
}

.newsletter-content button {
    background-color: black;;
    color: white;
    padding: 9px 35px 9px 35px;
    border-radius: 10px;
    border-color: white;
}
